* {
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

.icon-color {
  color: blueviolet;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 25px 35px;
  background-color: aliceblue;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li {
  margin-right: 1rem; /* 10 px*/
}

nav ul li a {
  font-size: 18px;
  text-decoration: unset;
  color: plum;
}

nav ul li a:hover {
  color: black;
}

.cards-title {
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  padding: 0 130px;
}

.flex-container .card {
  padding: 12px;
  background-color: aliceblue;
  border-radius: 10px;
  width: 20%;
}

section {
  height: 100vh;
}

.bg-black {
  background-color: black;
}

@media (max-width: 768px) {
  .flex-container {
    gap: 5px;
    padding: 0 60px;
  }

  .flex-container .card {
    width: 35%;
  }
}

@media (max-width: 425px) {
  .flex-container {
    flex-direction: column;
  }
}
